config MTK_FLASHLIGHT
  bool CONFIG_MTK_FLASHLIGHT
  default n
  help
    CONFIG_MTK_FLASHLIGHT

config CUSTOM_KERNEL_FLASHLIGHT
        string "CUSTOM_KERNEL_FLASHLIGHT"
        help
          Kernel space cameara flashlight driver. You can use this driver
          choose cameara flashlight type.

config HCT_LED_SGM3785
	bool "HCT CONFIG_HCT_LED_SGM3785"
	default n

config HCT_LED_AW3641
	bool "HCT CONFIG_HCT_LED_AW3641"
	default n

